<%- include('parts/header') %>

<header class="header header-contact">
    <%- include('components/navbar', { logo: 'white' }) %>
    <div class="container">
        <h1 class="header__title">
            <span>Biz haqimizda</span>
            <br>
            <span>ma'lumot</span>
        </h1>
    </div>
</header>

<main class="main main--about">
    <section class="about-text">
        <div class="container">
            <p><%= text %> </p>
        </div>
    </section>
    <section class="founders">
        <div class="container">
            <h2 class="founders__heading">Rizqim platformasining asoschilari</h2>
            <div class="founders__list">
                <% for(let founder of founders) { %>
                    <div class="founders__card" style="background-image: url('/img/founders/<%= founder.image %>')">
                        <a class="founder__name" href="#">
                            <%= founder.first_name %> <%= founder.last_name %> 
                        </a>
                    </div>
                <% } %>     
                <!-- <div class="founders__card founders__card--asadbek">
                    <a class="founder__name" href="#">
                        Asadbek Zoirov
                    </a>
                </div>
                <div class="founders__card founders__card--ogabek">
                    <a class="founder__name" href="#">
                        Og'abek Sultonbayev
                    </a>
                </div> -->
            </div>
        </div>
    </section>
</main>

<%- include('components/footer') %>
<%- include('parts/footer') %>