<%- include('parts/header') %>


<header class="header header-profile">
    <%- include('components/navbar', { logo: 'white' }) %>
</header>

<section class="profile">
    <header class="profile__header">
        <div class="flex-container">
            <div class="profile__owner">
                <div class="profile__avatar">
                    <label for="avatar">
                        <picture>
                            <source srcset="/img/<%= freelancer.avatar %>" type="image/webp">
                            <img srcset="/img/<%= freelancer.avatar %>">
                        </picture>
                    </label>
                    <input id="avatar" type="file" class="d-none">
                </div>
                <div class="profile__name">
                    <h1><%= freelancer.first_name + ' ' + freelancer.last_name %></h1>
                    <p>Web Developer</p>
                </div>
            </div>
            <!-- <a class="profile__mail" href="/<%= user.slug %>/mail">
                <span class="profile__mail-icon profile__mail-icon--unread">
                    <img src="/img/icons/email.svg" alt="email icon">
                </span>
                <span>Xabarlar</span>
            </a> -->
        </div>
    </header>
    <main class="profile__main">
        <div class="container">
            <section class="profile__section profile__section--basic">
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Ism, familiya</h2>
                    </header>
                    <main class="profile__section__main">
                        <p class="profile__section__text"><%= freelancer.first_name + ' ' + freelancer.last_name %></p>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Telefon raqam</h2>
                    </header>
                    <main class="profile__section__main">
                        <a class="profile__section__text" href="tel: +998999639773"><%= freelancer.phone %> </a>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Elektron pochta</h2>
                    </header>
                    <main class="profile__section__main">
                        <a class="profile__section__text" href="mailto: <%= freelancer.email %>" target="_blank"><%= user.email %></a>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Telegram username</h2>
                    </header>
                    <main class="profile__section__main">
                        <a class="profile__section__text" href="https://t.me/Ogabek19991031" target="_blank"><%= freelancer.telegram_username %> </a>
                    </main>
                </div>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Freelancer haqingizda ma'lumot</h2>
                </header>
                <main class="profile__section__main">
                    <% if (!freelancer.description) { %>
                        <div class="profile__section__empty">
                            <img src="/img/icons/empty.svg" alt="empty icon">
                            <p>Hozircha hech nima kiritilmagan</p>
                        </div>
                    <% } else { %>
                    <p class="profile__section__text"><%= freelancer.description %></p>
                    <% } %>
                </main>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Portfolio</h2>
                </header>
                <% if (portfolios.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main profile__section__main--grid">
                        <% for (let i = 0; i < portfolios.length; i++) { %>
                            <div class="card" title="<%= portfolios[i].name %>" style="background-image: url('/img<%= portfolios[i].image %>')">
                                <div class="card__body">
                                    <h3 class="card__heading"><%= portfolios[i].name %></h3>
                                </div>
                                <a class="card__link" href="<%= portfolios[i].link %>">
                                    card link
                                </a>
                            
                            </div>
                        <% } %>
                    </main>
                <% } %>
            </section>           

            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ishlagan joylari</h2>
                </header>
                <% if (works.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__experience__list">
                           <% for(let work of works) { %>
                                <li class="profile__experience__item">
                                    <h3 class="profile__experience__heading">
                                        <span><%= work.job_place %> <%= work.job_name %>  . <%= work.start_year %>,  <%= work.start_month %>  - <%= work.end_year %> , <%= work.end_month %> </span>
                                    </h3>
                                    <p class="profile__section__text"><%= work.about %> </p>
                                </li>
                            <% } %>  
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">O'qigan joylaringiz</h2>
                </header>
                <% if (education.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__education__list">
                            <% for(let edu of education) { %>
                                <li class="profile__education__item">
                                    <h3 class="profile__education__heading">
                                        <span><%= edu.name %>. <%= edu.direction %>   . <%= edu.start_year %> , <%= edu.start_month %>  - <%= edu.end_year %> , <%= edu.end_month %> </span>
                                    </h3>
                                    <p class="profile__section__text"><%= edu.about %></p>
                                </li>
                            <% } %>  
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Biladigan tillaringiz</h2>
                </header>
                <% if (languages.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__language__list">
                            <% for(let lang of languages) { %> 
                                <li class="profile__language__item">
                                    <h3 class="profile__language__heading">
                                        <span><%= lang.language %> </span>
                                    </h3>
                                    <p class="profile__section__text"><%= lang.degree %> </p>
                                </li>
                            <% } %> 
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ko'nikmalari</h2>
                </header>
                <% if (5 === 1) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__skills__list">
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">HTML</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">CSS</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">JavaScript</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Sass</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Bootstrap</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Webpack</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Webpack</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Babel</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Git</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Vue</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">NodeJS</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">ExpressJS</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Postgres</span>
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Mongo</span>
                            </span>
                            </li>
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ijtimoiy tarmoqdagi sahifalari</h2>
                </header>
                <% if (5 < 1) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__links__list">
                            <li class="profile__links__item">
                                <a class="profile__links__link" href="#" target="_blank">
                                    <img src="/img/icons/site.svg" alt="network icon">
                                    <span>Web sayt</span>
                                </a>
                                <a class="profile__links__link" href="#" target="_blank">
                                    <img src="/img/icons/youtube.svg" alt="youtube icon">
                                    <span>YouTube</span>
                                </a>
                                <a class="profile__links__link" href="#" target="_blank">
                                    <img src="/img/icons/git.svg" alt="git icon">
                                    <span>Github</span>
                                </a>
                            </li>
                        </ul>
                    </main>
                <% } %>
            </section>
        </div>
    </main>
</section>

<%- include('components/footer') %>
<%- include('parts/footer') %>