<%- include('parts/header') %>


<header class="header header-profile">
    <%- include('components/navbar', { logo: 'white' }) %>
</header>

<section class="profile">
    <header class="profile__header">
        <div class="flex-container">
            <div class="profile__owner">
                <div class="profile__avatar">
                    <label for="avatar">
                        <picture>
                            <source srcset="/img/<%= user.avatar %>" type="image/webp">
                            <img srcset="/img/<%= user.avatar %>">
                        </picture>
                    </label>
                    <input id="avatar" type="file" class="d-none">
                </div>
                <div class="profile__name">
                    <h1><%= user.first_name + ' ' + user.last_name %></h1>
                    <p>Web Developer</p>
                </div>
            </div>
            <a class="profile__mail" href="/<%= user.slug %>/mail">
                <span class="profile__mail-icon profile__mail-icon--unread">
                    <img src="/img/icons/email.svg" alt="email icon">
                </span>
                <span>Xabarlar</span>
            </a>
        </div>
    </header>
    <main class="profile__main">
        <div class="container">
            <section class="profile__section profile__section--basic">
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Ism, familiya</h2>
                        <div id="bio_edit" class="profile__section__edit" title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <p class="profile__section__text"><%= user.first_name + ' ' + user.last_name %></p>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Telefon raqam</h2>
                        <div id="bio_edit" class="profile__section__edit" title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <a class="profile__section__text" href="tel: +998999639773"><%= user.phone %> </a>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Elektron pochta</h2>
                        <div id="bio_edit" class="profile__section__edit" title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <a class="profile__section__text" href="mailto: <%= user.email %>" target="_blank"><%= user.email %></a>
                    </main>
                </div>
                <div>
                    <header class="profile__section__header">
                        <h2 class="profile__section__heading">Telegram username</h2>
                        <div id="bio_edit" class="profile__section__edit" title="O'zgartirish">
                            <img src="/img/icons/edit.svg" alt="edit icon">
                        </div>
                    </header>
                    <main class="profile__section__main">
                        <a class="profile__section__text" href="https://t.me/Ogabek19991031" target="_blank"><%= user.telegram_username %> </a>
                    </main>
                </div>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">O'zingiz haqingizda ma'lumot</h2>
                    <div class="profile__section__edit" title="O'zgartirish">
                        <img src="/img/icons/edit.svg" alt="edit icon">
                    </div>
                </header>
                <main class="profile__section__main">
                    <% if (!user.description) { %>
                        <div class="profile__section__empty">
                            <img src="/img/icons/empty.svg" alt="empty icon">
                            <p>Hozircha hech nima kiritilmagan</p>
                        </div>
                    <% } else { %>
                    <p class="profile__section__text"><%= user.description %></p>
                    <% } %>
                </main>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Portfolio</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (portfolios.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main profile__section__main--grid">
                        <% for (let i = 0; i < portfolios.length; i++) { %>
                            <div class="card" title="<%= portfolios[i].name %>" style="background-image: url('/img<%= portfolios[i].image %>')">
                                <div class="card__body">
                                    <h3 class="card__heading"><%= portfolios[i].name %></h3>
                                </div>
                                <a class="card__link" href="<%= portfolios[i].link %>">
                                    card link
                                </a>
                                <div id="<%= portfolios[i].id %>" class="card__edit" title="O'zgartirish">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 383.95 383.95" xml:space="preserve">
                                          <g fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                                              <path data-original="#000000" d="M0 303.95v80h80l236.05-236.06-80-80zM377.7 56.05 327.9 6.24a21.37 21.37 0 0 0-30.2 0l-39.03 39.04 80 80 39.04-39.04a21.37 21.37 0 0 0 0-30.19z"/>
                                          </g>
                                        </svg>
                                    </div>
                            </div>
                        <% } %>
                    </main>
                <% } %>
            </section>           

            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ishlagan joylaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (works.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__experience__list">
                           <% for(let work of works) { %>
                                <li class="profile__experience__item">
                                    <h3 class="profile__experience__heading">
                                        <span id="work_place"><%= work.job_place %></span>
                                        <span id="work_name"><%= work.job_name %> .</span>    
                                        <span id="work_start_year"><%= work.start_year %></span>  ,    
                                        <span id="work_start_month"><%= work.start_month %></span> -     
                                        <span id="work_end_year"><%= work.end_year %></span> , 
                                        <span id="work_end_month"><%= work.end_month %></span>
                                        <img id="<%= work.id %>" class="profile__experience__edit" src="/img/icons/edit.svg" width="16" height="16" alt="edit icon" title="O'zgartirish">
                                    </h3>
                                    <p id="work_about" class="profile__section__text"><%= work.about %></p>
                                   
                                </li>
                            <% } %>  
                        </ul>
                    </main>
                <% } %>
            </section>           
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">O'qigan joylaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (education.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__education__list">
                            <% for(let edu of education) { %>
                                <li class="profile__education__item">
                                    <h3 class="profile__education__heading">
                                        <span id="edu_name"><%= edu.name %>.</span>
                                        <span id="edu_direction"><%= edu.direction %></span> . 
                                        <span id="edu_start_year"><%= edu.start_year %></span>, 
                                        <span id="edu_start_month"><%= edu.start_month %></span> - 
                                        <span id="edu_end_year"><%= edu.end_year %></span>  , 
                                        <span id="edu_end_month"><%= edu.end_month %></span>
                                        <img id="<%= edu.id %>" class="profile__education__edit" src="/img/icons/edit.svg" width="16" height="16" alt="edit icon" title="O'zgartirish">
                                    </h3>
                                    <p id="edu_about" class="profile__section__text"><%= edu.about %></p>
                                    
                                </li>
                            <% } %>  
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Biladigan tillaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="edit icon">
                    </div>
                </header>
                <% if (languages.length === 0) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__language__list">
                            <% for(let lang of languages) { %> 
                                <li class="profile__language__item">
                                    <h3 class="profile__language__heading">
                                        <span id="lang"><%= lang.language %></span>
                                        <img id="<%= lang.id %> " class="profile__language__edit" src="/img/icons/edit.svg" width="16" height="16" alt="edit icon" title="O'zgartirish">
                                    </h3>
                                    <p id="language_degree" class="profile__section__text"><%= lang.degree %></p>
                                </li>
                            <% } %> 
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ko'nikmalaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="add icon">
                    </div>
                </header>
                <% if (5 === 1) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__skills__list">
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">HTML</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">CSS</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">JavaScript</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Sass</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Bootstrap</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Webpack</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Webpack</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Babel</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Git</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Vue</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">NodeJS</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">ExpressJS</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Postgres</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                            <li class="profile__skills__item">
                                <span class="profile__skills__name">Mongo</span>
                                <span class="profile__skills__remove" title="Olib tashlash">
                                <img src="/img/icons/times-blue.svg" alt="remove skill icon">
                            </span>
                            </li>
                        </ul>
                    </main>
                <% } %>
            </section>
            <section class="profile__section">
                <header class="profile__section__header">
                    <h2 class="profile__section__heading">Ijtimoiy tarmoqdagi sahifalaringiz</h2>
                    <div class="profile__section__add" title="Qo'shish">
                        <img src="/img/icons/add.svg" alt="add icon">
                    </div>
                </header>
                <% if (5 < 1) { %>
                    <div class="profile__section__empty">
                        <img src="/img/icons/empty.svg" alt="empty icon">
                        <p>Hozircha hech nima kiritilmagan</p>
                    </div>
                <% } else { %>
                    <main class="profile__section__main">
                        <ul class="profile__links__list">
                            <li class="profile__links__item">
                                <a class="profile__links__link" href="#" target="_blank">
                                    <img src="/img/icons/site.svg" alt="network icon">
                                    <span>Web sayt</span>
                                    <img class="profile__link__edit" src="/img/icons/edit.svg" width="16" height="16" alt="edit icon" title="O'zgartirish">
                                </a>
                                <a class="profile__links__link" href="#" target="_blank">
                                    <img src="/img/icons/youtube.svg" alt="youtube icon">
                                    <span>YouTube</span>
                                    <img class="profile__link__edit" src="/img/icons/edit.svg" width="16" height="16" alt="edit icon" title="O'zgartirish">
                                </a>
                                <a class="profile__links__link" href="#" target="_blank">
                                    <img src="/img/icons/git.svg" alt="git icon">
                                    <span>Github</span>
                                    <img class="profile__link__edit" src="/img/icons/edit.svg" width="16" height="16" alt="edit icon" title="O'zgartirish">
                                </a>
                            </li>
                        </ul>
                    </main>
                <% } %>
            </section>
        </div>
    </main>
</section>

<script>
    let imgInput = document.querySelector("#avatar") 
    imgInput.addEventListener("change", async (e) => {
        let file = e.target.files[0]

        let formData = new FormData()

        formData.append("photo", file)

        let response = await fetch(`/avatar`, {
            method: "PATCH",
            body: formData,
        })

        response = await response.json()

        if(response.ok) {
            window.location.reload()
        }
    })
</script>



<%- include('components/modal') %>

<script>
    const editModal = document.querySelector("#portfolio")
    const editBtn = document.querySelectorAll(".card__edit")
    const modalBtn = document.querySelector(".modal_button")
    for(let i = 0; i < editBtn.length; i ++) {
        editBtn[i].addEventListener("click", async (e) => {
            editModal.classList.add("d-block")
            editModal.classList.remove("d-none")
            modalBtn.setAttribute("value", `${editBtn[i].id}`)
        })
    }
    // --------------------
    const experience_edit = document.querySelectorAll(".profile__experience__edit") 
    const work_modal = document.querySelector("#work_modal")
    const work_button = document.querySelector(".work_button")

    const work_place       = document.querySelectorAll("#work_place")
    const work_name        = document.querySelectorAll("#work_name")
    const work_start_year  = document.querySelectorAll("#work_start_year")
    const work_start_month = document.querySelectorAll("#work_start_month")
    const work_end_year    = document.querySelectorAll("#work_end_year")
    const work_end_month   = document.querySelectorAll("#work_end_month")
    const work_about       = document.querySelectorAll("#work_about")

    for(let i = 0; i < experience_edit.length; i++) {
        experience_edit[i].addEventListener("click", (e) => {
            work_modal.classList.add("d-block")
            work_modal.classList.remove("d-none")
            work_button.setAttribute("value", `${experience_edit[i].id}`)
            job_place.value             = work_place[i].textContent
            job_name.value              = work_name[i].textContent
            job_start_year.textContent  = work_start_year[i].textContent
            job_start_month.textContent = work_start_month[i].textContent
            job_end_year.textContent    = work_end_year[i].textContent
            job_end_month.textContent   = work_end_month[i].textContent
            job_about.value             = work_about[i].textContent
        })
    }

    // ----------
    const education_edit   = document.querySelectorAll(".profile__education__edit") 
    const education_modal  = document.querySelector("#education_modal")
    const education_button = document.querySelector(".education_button")

    const edu_name        = document.querySelectorAll("#edu_name")
    const edu_direction   = document.querySelectorAll("#edu_direction")
    const edu_start_year  = document.querySelectorAll("#edu_start_year")
    const edu_start_month = document.querySelectorAll("#edu_start_month")
    const edu_end_year    = document.querySelectorAll("#edu_end_year")
    const edu_end_month   = document.querySelectorAll("#edu_end_month")
    const edu_about       = document.querySelectorAll("#edu_about")

    for(let i = 0; i < education_edit.length; i++) {
        education_edit[i].addEventListener("click", (e) => {
            education_modal.classList.add("d-block")
            education_modal.classList.remove("d-none")
            education_button.setAttribute("value", `${education_edit[i].id}`)
            education_name.value              = edu_name[i].textContent
            education_direction.value         = edu_direction[i].textContent
            education_year_start.textContent  = edu_start_year[i].textContent
            education_month_start.textContent = edu_start_month[i].textContent 
            education_year_end.textContent    = edu_end_year[i].textContent
            education_month_end.textContent   = edu_end_month[i].textContent
            education_about.value             = edu_about[i].textContent
        })
    }
    // ----------------
    const edit_lang = document.querySelectorAll(".profile__language__edit")
    const lang_modal = document.querySelector("#language_modal")
    const lang_button = document.querySelector(".language_button")
    const language_degree = document.querySelectorAll("#language_degree")
    const lang = document.querySelectorAll("#lang")

    for(let i = 0; i < edit_lang.length; i++) {
        edit_lang[i].addEventListener("click", (e) => {
            lang_modal.classList.add("d-block")
            lang_modal.classList.remove("d-none")
            lang_button.setAttribute("value", `${edit_lang[i].id}`)
            language.textContent = lang[i].textContent
            lang_degree.textContent = language_degree[i].textContent
        })
    }
</script>
<%- include('components/footer') %>
<%- include('parts/footer') %>